<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- HTML Head Tag 정보 Set -->
    <head th:fragment="config">
        <!-- Meta Set -->    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Custom styles for this template-->
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}'>
        <!-- Page level plugin CSS-->
        <th:block th:fragment="contentsCss"></th:block>
    </head>
</html>