/* customer_center.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  background-color: #007bff;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  max-width: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-bottom: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links li a i {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
}

header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
}

.header-info h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.info-item i {
  margin-right: 10px;
}

section {
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 20px;
}

section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

section button:hover {
  background-color: #0056b3;
}