/* 전체 컨테이너 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto; /* 수평 가운데 정렬 */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 페이지 헤더 스타일 */
.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.page-header h1 {
    color: #333;
}

/* 폼 컨트롤 스타일 */
.form-control {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #4CAF50; /* 포커스 시 초록색 테두리 */
    outline: none;
}

/* 버튼 컨테이너 스타일 */
.btn-container {
    display: inline-block;
    justify-content: space-between;
}

/* 버튼 스타일 */
.pull-right {
	align-items: center;
	justify-content: center;
	display: flex;
}

.btn btn-info, .btn btn-danger {
	display: inline-block;	
}
.btn {
	display: flex;
	margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    background-color: #4CAF50; /* 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
}

.btn-success  {
	width: 72px;
    background-color: #4CAF50; /* 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
}

.btn-success:hover {
    background-color: #45a049; /* 마우스 호버 시 어두운 초록색 */
}

.buttons {
	display: flex;
}

.table {
	align-items: center;
	justify-content: center;
	display: flex;
}


.form-control {
	border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

/* 댓글 내용과 작성자 컨테이너 스타일 */
#comment_content {
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    width: 700px;
    height: 40px;
    margin-left: -135px;
    margin-right: 50px;

    float: left;
}

#comment_writer {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    width: 120px;
    height: 40px;
	

}










