/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px; /* 기본 글꼴 크기 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; /* 제목 글꼴 변경 */
  font-weight: bold; /* 제목 글꼴 굵게 설정 */
}

p {
  font-size: 18px; /* 본문 글꼴 크기 */
  line-height: 1.6; /* 줄 간격 조정 */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* 헤더와 네비게이션 */
header {
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 200px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-links {
  flex: 2;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  background: white;
  border-radius: 10px;
  padding: 10px;
  gap: 40px;
  z-index: 100;
}


.user-actions {
  display: flex;
  justify-content: flex-end; /* 로그인/회원가입 버튼을 오른쪽에 정렬 */
  align-items: center;
  gap: 20px;
}

.user-actions .btn {
  background-color: #414141;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

.icon-container {
  flex: 1; /* 아이콘 컨테이너를 오른쪽 끝으로 밀어냄 */
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.user-actions .btn:hover {
  background-color: #55ffc6;
  color: black;
}

.nav-toggle,
.user-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; 
}

/* Button Styles */
.btn {
  display: inline-block;
  background-color: #ff6347;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #e65c4f;
  transform: translateY(-5px);
}

/* Hero Section */
.hero {
  background-image: url('/image/10.jpeg');
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  position: relative;
  margin-bottom: 40px;
  padding: 120px 80px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffd700;
  font-weight: bold;
}

.hero h1,
.hero p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Quick Links */
.quick-links-title {
  text-align: center;
  margin: 40px 0;
}

.quick-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.quick-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.quick-link i {
  margin-bottom: 20px;
}

.quick-link span {
  font-size: 18px;
  font-weight: bold;
}

.quick-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  background-color: #55ffc6;
}

/* Community Section */
.community {
  padding: 80px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.community h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  flex: 0 0 33.33%;
  height: 280px;
  padding: 10px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.slide img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  cursor: pointer;
}

.slide:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  background-color: #ecf0ef;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  color: #363636;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

#prevButton, #nextButton {
	margin-top: 45px;
}

.slider-button:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 80px 20px;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-content {
  text-align: center;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 20px;
  position: relative;
}

.about-content h2::after {
  content: '';
  width: 80px;
  height: 5px;
  background-color: #ff7f50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 5px;
}

.about-content p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #6c757d;
  margin-bottom: 40px;
}

.btn-member {
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff7f50;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-member:hover {
  background-color: #e67246;
  transform: translateY(-5px);
}

.about-image {
  width: 100%;
  max-width: 800px; /* 이미지 최대 너비 설정 */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  color: #55ffc6;
}

.social-icons a {
  font-size: 24px;
  margin-right: 20px;
}

.social-icons a:hover {
  color: #55ffc6;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

/* 로그인/회원가입 버튼 아이콘 숨기기 */
@media (max-width: 768px) {
  .user-actions .btn {
    display: none;
  }

  .user-actions.show .btn {
    display: block;
  }

  .nav-toggle, .user-toggle {
    display: block;
    /* 작은 화면에서 토글 버튼 보이기 */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
  }

  .user-actions {
    display: none; /* 초기에 숨김 */
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    gap: 10px;
    z-index: 100;
  }
  
  .user-actions.show {
    display: flex; /* 토글 버튼 클릭 시 보이도록 변경 */
    flex-direction: column;
    right: 0;
  }

  .icon-container {
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	  margin-left: 400px;
  }

  nav .nav-links,
  .user-actions {
    display: none;
    /* 초기에 네비게이션 메뉴 및 로그인/회원가입 버튼 숨김 */
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    gap: 10px;
  }

  nav .nav-links.show,
  .user-actions.show {
    display: flex;
    /* 토글 버튼 클릭 시 보이도록 변경 */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    gap: 10px;
  }
  
  .nav-links ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 20px;
  z-index: 100;
}
  
}

/* 대화형 요소 스타일 */
.hero {
  position: relative;
  /* hero section의 자식 요소들이 절대 위치로 배치될 수 있도록 설정 */
  z-index: 1;
  /* hero section의 배경 이미지 위에 배치될 수 있도록 z-index 설정 */
  padding: 120px 80px;
  /* 여기에도 padding 추가 */
  text-align: center;
  /* hero section의 자식 요소들 가운데 정렬 */
}

.logo img {
  width: 130px;
  height: auto;
}

.quick-links {
  display: flex;
  justify-content: center;
}

.quick-link {
  width: 50%;
  max-width: 150px;
  text-align: center;
  margin: 10px;
}

.quick-link i {
  font-size: 2rem;
}

.quick-link span {
  font-size: 16px;
}

@media (min-width: 1024px) {
   .about {
    flex-direction: row; 
    align-items: flex-start; 
    gap: 80px;
    padding: 80px; 
  }

  .about-content {
    text-align: left; 
    max-width: 50%; 
  }

  .about-image {
    max-width: 50%;
  }

  .about-image img:hover {
    transform: scale(1.05); 
  }
}

/* 데스크톱 뷰 스타일 */
@media (min-width: 768px) {
  .hero {
    text-align: left;
  }

  .quick-links {
    justify-content: space-around;
  }

  .quick-link {
     max-width: 200px;
  }

  .nav-links {
    justify-content: center;
    flex: 1; 
  }

  .user-actions {
    justify-content: flex-end;
    align-items: center;
  }
}
