/* myPetInfo.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group button[type="submit"] a {
  color: white;
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], select, textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

select {
  width: 100%; /* 원하는 너비로 조정 */
  padding: 10px; /* 원하는 패딩 값으로 조정 */
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #454545;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

#additional-pet-info {
  margin-top: 20px;
}

#additional-pet-info .form-group {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}