a {
  color: black;
  text-decoration: none;
}
body {
  font-family: '맑은 고딕', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
 	grid-gap: 0 30px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.box {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 110px 0 0;
  text-align: center;
  transition: all 0.3s ease;
  width: 450px; /* 고정된 너비 */
  height: 300px; /* 고정된 높이 */
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box i {
  font-size: 32px;
  margin-bottom: 10px;
}

.box h3 {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .container {
    height: 1290px;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
