<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>예약 목록</title>
<link rel="stylesheet" href="/css/appointment_list.css">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div th:insert="~{header_common :: header}"></div>

	<div class="container">
		<h1>예약 목록</h1>
		<table id="member-table">
			<thead>
				<tr>
					<th>예약 번호</th>
					<th>반려동물 이름</th>
					<th>예약 이름</th>
					<th>예약 일시</th>
					<th>진료 내용</th>
					<th>확정 여부</th>
				</tr>
			</thead>
			<tbody th:each="appointment : ${appointment_lists}">
				<tr>
					<td th:text="${appointment.appointmentId}"></td>
					<td th:text="${appointment.petName}"></td>
					<td th:text="${appointment.hospitalName}"></td>
					<td th:text="${appointment.appointmentDateTime}"></td>
					<td th:text="${appointment.medicalNotes}"></td>
					<td th:text="${appointment.approved} ? '확정' : '미확정'"></td>
				</tr>
			</tbody>
		</table>
	</div>

<div th:insert="~{footer.html}"></div>
</body>
</html>
