<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>바로가기</h3>
      <ul>
        <li><a th:href="@{/index}">홈</a></li>
        <li><a th:href="@{/pay}">멤버십</a></li>
        <li><a th:href="@{/search}">병원검색</a></li>
        <li><a th:href="@{board/list}">펫닥</a></li>
        <li><a th:href="@{/customer}">고객센터</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>연락 방법</h3>
      <p>Email: info@petfit.com</p>
      <p>Phone: 031-123-1234</p>
    </div>
    <div class="footer-section">
      <h3>소셜 미디어</h3>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2024 PETFIT. All rights reserved.
  </div>
</footer>

