  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>바로가기</h3>
        <ul>
          <li><a href="index.html">홈</a></li>
          <li><a href="Membership.html">멤버십</a></li>
          <li><a href="search_details.html">병원검색</a></li>
          <li><a href="petdoc.html">펫닥</a></li>
          <li><a href="customer.html">고객센터</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>연락 방법</h3>
        <p>Email: info@petfit.com</p>
        <p>Phone: 031-123-1234</p>
      </div>
      <div class="footer-section">
        <h3>소셜 미디어</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; 2024 PETFIT. All rights reserved.
    </div>
  </footer>
  <script th:src="@{/index_admin.js}"></script>
</body>
</html>
