<header>
  <nav>
	<div class="logo">
	  <a th:href="@{/index}">
		<img src="/image/펫핏.png" alt="PETFIT Logo">
	  </a>
	</div>
    <div class="nav-links">
      <ul>
        <li><a th:href="@{/pay}" onclick="checkLogin(event)">멤버십</a></li>
        <li><a th:href="@{/search}">병원찾기</a></li>
        <li><a th:href="@{board/list}" onclick="checkLogin(event)">펫닥</a></li>
        <li><a th:href="@{/customer}">고객센터</a></li>
      </ul>
    </div>
    <div class="user-actions">
	  <!-- 로그인 했을 때 보여줄 내용 -->
	  <form action="/logout" method="post">
		<button type="submit" class="btn">로그아웃</button>
	  </form>
	  <a href="/userMyPage" class="btn">마이페이지</a>
	</div>
    <div class="icon-container">
      <button class="nav-toggle"><i class="fas fa-bars"></i></button>
      <button class="user-toggle"><i class="fas fa-user"></i></button>
    </div>
  </nav>
</header>
