<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/image/favicon.png">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>PETFIT_사용자</title>
</head>
<body th:attr="data-is-authenticated=${session.isLoggedIn}">
  <div th:insert="~{header :: header}"></div>
  <main>
    <section class="hero">
      <h1>Welcome to PETFIT</h1>
      <p>반려동물을 위한 최상의 병원을 찾도록 도와드립니다.</p>
    </section>
    <h2 class="quick-links-title">바로가기</h2>
    <div class="quick-links">
      <a th:href="@{/pay}" onclick="checkLogin(event)" class="quick-link">
        <i class="fas fa-id-card fa-3x"></i>
        <span>멤버십</span>
      </a>
      <a th:href="@{/search}" class="quick-link">
        <i class="fas fa-search fa-3x"></i>
        <span>병원찾기</span>
      </a>
      <a th:href="@{board/list}" onclick="checkLogin(event)" class="quick-link">
        <i class="fas fa-medkit fa-3x"></i>
        <span>펫닥</span>
      </a>
      <a th:href="@{/customer}" class="quick-link">
        <i class='fas fa-headset'></i>
        <span>고객센터</span>
      </a>
    </div>
    <section class="community">
      <h2>이번주 펫닥 인기글</h2>
      <div class="slider-wrapper">
        <button id="prevButton" class="slider-button"><i class="fas fa-chevron-left"></i></button>
        <button id="nextButton" class="slider-button"><i class="fas fa-chevron-right"></i></button>
        <div class="gallery" id="imageGallery">
          <div class="slide" th:each="board : ${latestPost}">
            <img src="/image/board1.jpg" alt="이미지 1">
            <h3 th:text="${board.title}"></h3>
            <p th:text="${board.content}"></p>
          </div>
          <div class="slide">
            <img src="/image/board1.jpg" alt="이미지 1">
            <h3>아이가 아파요</h3>
            <p>3살 된 닥스훈트입니다, 어제부터 밥 안 먹고...</p>
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="about-content">
        <h2>펫핏만의 멤버십 서비스</h2>
        <p>
          지금, <strong>펫핏의 멤버십 서비스</strong>로 최상의 돌봄을 받아보세요!<br>
          가격은 <strong>단 1000원</strong>, 1년에 10000원으로 이용할 수 있습니다.<br>
          멤버십 가입자에게는 예약 서비스를 통해 반려동물 병원을 예약할 수 있는 기회가 제공됩니다.<br>
          전문 수의사의 맞춤형 상담 제공<br>
          빠른 예약 확인과 알림 서비스<br>
          당신의 반려동물에게 <strong>더 나은 삶을 선사할 펫핏 멤버</strong>가 되어보세요!
        </p>
        <a th:href="@{/Membership}" class="btn-member">멤버십 바로가기</a>
      </div>
      <div class="about-image">
        <img src="/image/AdobeStock_276861465.jpeg" alt="Pets">
      </div>
    </section>
  </main>
  <div th:insert="~{footer.html}"></div>
  <script src="/js/index.js"></script>
  <script src="/js/alert.js"></script>
  <script>
    function checkLogin(event) {
      var isAuthenticated = document.body.getAttribute('data-is-authenticated');
      if (isAuthenticated !== 'true') {
        event.preventDefault();
        alert('이 기능을 사용하려면 로그인이 필요합니다.');
      }
    }
  </script>
</body>
</html>
