<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PETFIT - 회원 관리</title>
  <link rel="stylesheet" href="/css/member_management.css">
  <link rel="stylesheet" th:href="@{/css/member_management.css}">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<!-- 헤더 포함 -->
 <div th:insert="~{header_a_common :: header}"></div>


	<div class="container">
		<h1>회원 관리</h1>
		<table id="member-table">
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>연락처</th>
					<th>이메일</th>
					<th>주소</th>
					<th>작업</th>
				</tr>
			</thead>
			<tbody th:each="user : ${User}">
				<tr>
					<td th:text="${user.userId}"></td>
					<td th:text="${user.userName}"></td>
					<td th:text="${user.userPhone}"></td>
					<td th:text="${user.userEmail}"></td>
					<td th:text="${user.userAddress}"></td>
					<td>
						<a th:href="@{'/modifyUser?userId=' + ${user.userId}}" class="btn_work">수정</a>
						<a th:href="@{'/deleteUser?userId=' + ${user.userId}}" class="btn_work"
							onclick="return confirm('이 사용자를 삭제하시겠습니까?');">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 푸터 포함 -->
	<div th:insert="~{footer.html}"></div>
</body>
</html>
